<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
  </head>
  <body>
    <%- include("./nav"); %>
    <form method="post">
      <label for="first-name">First Name</label>
      <input type="text" name="firstName" id="first-name" value="<%= locals.firstName ? firstName: '' %>" />
      <label for="last-name">Last Name</label>
      <input type="text" name="lastName" id="last-name" value="<%= locals.lastName ? lastName : '' %>" />
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="<%= locals.username ? username : '' %>" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirm-password" />
      <label for="passcode">Admin Passcode</label>
      <input type="password" name="passcode" id="passcode" />
      <button>Sign up</button>
    </form>
    <% if (locals.errors) {%>
      <% errors.forEach((error) => { %>
        <%- `<p>${error.msg}</p>` %>
      <%});%>
    <%}%>
  </body>
</html>