<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/delete-message.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Members Only</title>
  </head>
  <body>
    <%- include("./nav"); %>
    <main>
      <p class="confirmation">Are you sure you want to delete this message?</p>
      <div class="information">
        <h2><%- message.title %></h2>
        <p class="body"><%- message.body %></p>
        <p>by <%- message.user.username %></p>
        <p>on <%- message.date %></p>
      </div>
      <form method="post">
        <button class="delete-message">Delete message</button>
      </form>
    </main>
  </body>
</html>