<% messages.forEach((message) => { %>
  <%- `<h2>${message.title}</h2>` %>
  <%- `<p>${message.body}</p>` %>
  <%- `<p>${message.user.username}</p>` %>
  <%- `<p>${message.days_passed}</p>` %>
  <%- `<a href="/admin/${message._id}/delete-message"><button>Delete message</button></a>` %>
<%});%>